<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Tarefas</title>

  <!--Bootstrap css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>


  <header id="header">
    <div th:replace="base :: navbar"></div>
  </header>


  <div class="container pt-5">
    <div class="row">
      <div class="col-10 col-sm-9 mx-auto">
        <div class="card text-center mx-auto border-dark">
          <div class="card-header border-dark">
            <h4 class="card-title">Tarefas Concluídas
            </h4>
          </div>
          <div class="card-body ">
            <!-- Alerta caso não existir tarefas concluidas-->
            <div class="alert alert-warning alert-dismissible fade show" role="alert"
              th:if="${#lists.isEmpty(tarefas)}">
              <p>Você não possui tarefas concluídas, <a th:href="@{'/tarefas/'}">Ir para o Menu</a>.</p>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <!--Lista de Tarefas Concluídas-->
            <ul class="list-group" th:each="tarefa : ${tarefas}">
              <li class="list-group-item ">
                <div class="row">
                  <div class="col-2 col-sm-2 col-md-2">
                    <span th:text="${tarefa.id}"></span>
                  </div>
                  <div class="col-6 col-sm-7 col-md-7">
                    <div class="fw-bold" th:text="${tarefa.titulo}">Titulo</div>
                  </div>
                  <div class="col-4 col-sm-3 col-md-3">
                    <a type="button" class="btn btn-danger" data-bs-toggle="modal"
                      th:attr="data-bs-target='#remover_'+${tarefa.id}">Excluir
                    </a>
                  </div>
                </div>
              </li>


              <!-- Modal Excluir Tarefa -->
              <div th:replace="base :: modalExcluirTarefa"></div>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Bootstrap Js-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
</body>

</html>